@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/purple";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app,
.app_modal,
.app_drawer {
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.story-wrapper {
  flex-grow: 1;
  padding: 20px 20px 20px 45px;
  width: 100%;
}

*::-webkit-scrollbar {
  width: 8px; /* ширина scrollbar */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg); /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color); /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 3px solid var(--primary-color); /* padding вокруг плашки */
}
