.options {
    background: var(--dark-bg-redesigned);
    position: absolute;
    z-index: 10000;
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
    width: max-content;
}

.item {
    padding: 6px 15px;
    width: 100%;
}

.label {
    margin-right: 5px;
}

.storyCase {
    padding: 150px;
}

.selected {
    background: var(--light-bg-redesigned);
}
