.ListBox {
  position: relative;
}

.trigger {
  margin: 0;
}

.options {
  background: var(--listbox-bg);
  position: absolute;
  z-index: 10000;
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
  padding: 6px 15px;
}

.optionsTopLeft {
  bottom: 100%;
  right: 0;
}

.optionsTopRight {
  bottom: 100%;
  left: 0;
}

.optionsBottomLeft {
  top: 100%;
  right: 0
}

.optionsBottomRight {
  top: 100%;
  left: 0;
}

.item {
  width: max-content;
}

.active {
  background: var(--inverted-primary-color);
}

.disabled {
  opacity: 0.7;
}

.label {
  margin-right: 5px;
}

.storyCase {
  padding: 150px;
}
