.app.dark {
  --bg-color: #0b0b4b;
  --inverted-bg-color: #e7e7e8;
  --primary-color: #04ff04;
  --secondary-color: #049604;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0452ff;
}
