:root {
  --bg-color: #e7e7e8;
  --inverted-bg-color: #0b0b4b;
  --primary-color: #0232c2;
  --secondary-color: #0452ff;
  --inverted-primary-color: #04ff04;
  --inverted-secondary-color: #049604;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #d2d2d2;
}
