.app_purple_theme {
  --bg-color: #faf4fb;
  --inverted-bg-color: #390c73;
  --primary-color: #971095;
  --secondary-color: #fbf4fb;
  --inverted-primary-color: #dbd5dc;
  --inverted-secondary-color: #faf4fb;
}
