.app_purple_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #390c73;
    --primary-color: #971095;
    --secondary-color: #3b043b;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;

    // redesigned
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(55 0 125 / 80%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #e8e3e8;

    // ListBox
    --listbox-bg: #e8e3e8;
}
