.app_purple_theme {
  --bg-color: #faf4fb;
  --inverted-bg-color: #390c73;
  --primary-color: #971095;
  --secondary-color: #3b043b;
  --inverted-primary-color: #dbd5dc;
  --inverted-secondary-color: #faf4fb;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(55 0 125 / 80%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #e8e3e8
}
