.StarRating {
    .starIcon {
        cursor: pointer;
        stroke: var(--primary-color);
    }

    .hovered {
        fill: var(--primary-color);
    }
}

.StarRatingRedesigned {
    .hovered {
        fill: var(--icon-redesigned);
    }
}

.normal {
    fill: none;
}

.selected {
    cursor: auto;
}
